{% extends "base.html" %}
{% block title %}Log In{% endblock %}
{% block content %}

{% include "includes/header-signin.html" %}

<div class="content-wrapper ">
        <div class="form-box col-md-8">
        	<div class="form-top">
            	<div class="form-top">
            		<div class="form-top-left">
            			<h3>Login to our site</h3>
                		<p>Enter username and password to log on:</p>
            		</div>
            		<div class="form-top-right">
            			<i class="fa fa-key"></i>
            		</div>
                </div>

            </div>
            <div class="form-bottom">
        		<form class ="login-form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
        		{% csrf_token %}
        		<table class="form-group table no-border">
        		  {{ form.as_table }}
        		</table>

        		<button type="submit" value="login" class="btn">Sign In</button>
        		</form>

            </div>
        </div>
</div>                	



{% endblock %}