{% extends "base.html" %}

{% block content %}  

  <header class="main-header">
    <a href="" class="logo">
      <span class="logo-mini"><img src="" alt="Chat App"> </span>
      <span class="logo-lg"><img src="" alt="Chat Application"></span>
    </a>
    
    <nav class="navbar navbar-static-top" style="height: 5px;">
      <input class="message-input" id="handle" type="text" value="{{ user.get_username }}" placeholder="handle" style="display: none;">

      <div class="collapse navbar-collapse navbar-left">
        <h3 class="room-name-header">Chatroom: {{ room.label }}</h3>
      
      </div>
      
      <div class="navbar navbar-static-top navbar-right" style="margin: 5px;">
        <a  href="/accounts/logout/"><button class="button button-danger">Logout</button></a>
      </div>

      <div class="collapse navbar-collapse navbar-right" style="margin: 5px;">
        <!-- <form action="{% url 'views.new_room' %}" method="get" style="display: none;">
          <input type="text" name="room_name" required placeholder="Create New Room" style="display: none; margin-right: 15px;">
        </form>
        -->
        <a href="/create_room/"><button class="button button-primary" >Create new chat room</button></a>
      </div>
 
      <div class="collapse navbar-collapse navbar-right" style="margin: 5px;">
        <p class="hello-user" style="margin: 5px 8px 0 0; font-size: 17px;">Hello, {{ username }}</p >
      </div>
      
      

      
    </nav>
  </header>
{% endblock %}