{% extends "base.html" %}

{% block content %}

{% include "includes/header-signin.html" %}

<div class="bgabout" >
  <br>
  <h1><b>WebChat</b></h1>
  <br>
  <h2>A web app using Django that allows users to chat in real time.<br>
  Click to check the source.<br>
  <a class="git" href="https://github.com/manik-gandotra/chatWeb" target="_blank">
    <img class="github" src="/static/chat/img/github-mark.jpg" style="height:50px; width:150px; border-radius:12px;">
  
  </a>
  </h2>
</div>
<!--

<p>This example creates a full page background image. Try to resize the browser window to see how it always will cover the full screen (when scrolled to top), and that it scales nicely on all screen sizes.</p>

  <h1>Django Channels Example</h1>
  <p class="deck">
    This is a demo using <a href="http://channels.readthedocs.org/en/latest/">
    Django Channels</a> to implement a simple WebSocket-based chat server.
    You can see the <a href="https://github.com/jacobian/channels-example">
    code on GitHub</a>, or try the app:
  </p>
  <p>
    <a class="button button-primary" href="{% url 'new_room' %}">Create new chat room</a>
  </p>
  <p class="quiet">
    Or, you can visit <code>{{ request.scheme }}://{{ request.get_host }}/any-path-you-want</code> 
    to create a arbitrary room or join one whose name you know.
  </p>
  <p>
    <a href="/accounts/register">Register</a>
    <a href="/accounts/login">Login</a>
  </p>
-->

{% endblock content %}